form .avatar {
    width: 110px;
    margin-bottom: 15px;
}

.navbar .container-avatar
/*,
.pub_image .container-avatar*/

{
    width: 35px;
    height: 52px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img
/*,
.pub_image .container-avatar img*/

{
    height: 100%;
}